<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/questionnaires" text="Back"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{questionnaire.qname}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

    <ion-list ion-item *ngFor="let question of questionnaire.questions">
      <ion-item>
        <ion-label> {{question.title}} </ion-label>
      </ion-item>
      <div *ngIf="question.answer.length>0">
        <ion-card *ngFor="let answer of question.answer">
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>
              <p> {{answer}} </p>
            </ion-label>
          </ion-item>
        </ion-card>          
      </div>
      <ion-input type="text" *ngIf="question.answer.length==0"></ion-input>
    </ion-list>
  
  </ion-content>
  
  <ion-footer>
  </ion-footer>