  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/feedbacks"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Create your Feedback
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

    <form (ngSubmit)="create()">
      <ion-item>
        <ion-input type="text" [(ngModel)]="feedback.title" name="name" placeholder="Title"></ion-input>
      </ion-item>
      <ion-item >
        <ion-text>to : </ion-text>
        <ion-input type="text" [(ngModel)]="to" name="to" placeholder="receiver"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="tags" name="tags" placeholder="your tags"></ion-input>
      </ion-item>
      <ion-item>
        <textarea rows="10" cols="100%" class="Fmessage"  [(ngModel)]="feedback.message" name="message" placeholder="your message"></textarea>
      </ion-item> 
      <ion-button *ngIf="to!='' && feedback.title!=''" type="submit" shape="round">Send</ion-button>
    </form>
  </ion-content>
  
  <ion-footer>
  </ion-footer>