<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <ion-item>
    <img src="../../../assets/inconnue.jpg">
  </ion-item>
  <ion-item>
    <ion-text>Name : {{collaborateur.lastName}} </ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Firstname : {{collaborateur.firstName}} </ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Role : {{collaborateur.role}} </ion-text>    
  </ion-item>
  <ion-item>
    <ion-text>Group :</ion-text>
    <ion-item>
      <ion-card ion-item *ngFor="let group of collaborateur.groups">
          <ion-text>{{ group }}</ion-text>
      </ion-card>
    </ion-item>  
  </ion-item>
</ion-content>