  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/questionnaires"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Questionnaire Creation
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="questionnaire.title" placeholder="Entrez le nom du questionnaire"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="to" placeholder="Entrez les destinataires"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="questionnaire.description" placeholder="Entrez une présentation sur le pourquoi vous faite ce questionnaire"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card  *ngFor="let q of questionnaire.questions">
      <ion-item lines="none">
        <ion-label>
          <p>{{ q.question }}</p>
        </ion-label>
        <ion-button (click)="deleteQuestion()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-item lines="none">
        <ion-input [(ngModel)]="myQuestion.question" placeholder="Entrez votre question"></ion-input>
        <ion-button (click)="addQuestionToForm()" shape="round" slot="end">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="myQuestion.constraints[0]" name="QCM"></ion-checkbox>
        <ion-text>Required</ion-text>
        <ion-checkbox [(ngModel)]="myQuestion.qcm" name="QCM"></ion-checkbox>
        <ion-text>QCM</ion-text>
        <ion-checkbox *ngIf="myQuestion.qcm" [(ngModel)]="myQuestion.constraints[1]" name="QCM"></ion-checkbox>
        <ion-text *ngIf="myQuestion.qcm">Multi choice</ion-text>
      </ion-item>
      
      <ion-card *ngIf="myQuestion.qcm">
        <ion-text>Entrez les réponses de votre QCM</ion-text>
        <ion-card *ngFor="let answer of myQuestion.QCManswer">
          <ion-item lines="none">
            <ion-label>
              <p> {{answer}} </p>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-item lines="none">
          <ion-input [(ngModel)]="myanswer" placeholder="Entrez une réponse"></ion-input>
          <ion-button (click)="addPossibleAnswerToQuestion()" shape="round" slot="end">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>

    </ion-card>
  </ion-content>
  
  <ion-footer>
    <ion-button *ngIf="questionnaire.questions.length>0 &&
                        questionnaire.qname!='' &&
                        to!='' "
                (click)="sendQ()" 
                expand="block">
      Send Questionnaire
    </ion-button>
  </ion-footer>