<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home Page
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">

  <div>
    <ion-item (click)="goToFeedbacks()">
      <ion-label> Feedbacks </ion-label>
    </ion-item>
    <ion-card ion-item *ngFor="let feedback of feedbacks">
      <ion-item (click)="goToFeedbackInfo(feedback.id)">
        <ion-text>
          <p>
            {{feedback.title}}
          </p>
        </ion-text>
        <ion-text *ngIf="feedback.read" slot="end">Lu</ion-text>
        <ion-text *ngIf="!feedback.read" slot="end">Non-lu</ion-text>
      </ion-item>
      <ion-item>
      <ion-list *ngFor="let tag of feedback.tags">
        <ion-button>{{tag}}</ion-button>
      </ion-list>
      </ion-item>
    </ion-card>
  </div>
  
  <div (click)="goToProfil()">
    <ion-item>
      <ion-label> Profil </ion-label>
    </ion-item>
    <div>
      <img src="../../../assets/inconnue.jpg">
      <p> {{collaborateur.lastName}} </p>
      <p> {{collaborateur.firstName}} </p>
      <p *ngIf="collaborateur.role==4"> Administrator </p>
    </div>
  </div>
    
  <div>
    <ion-item (click)="goToQuestionnaires()">
      <ion-label> Questionnaires </ion-label>
    </ion-item>
    <ion-card ion-item *ngFor="let questionnaire of questionnaires">
      <ion-item>
        <ion-text> {{questionnaire.title}} </ion-text>
        <ion-button slot="end" *ngIf="!questionnaire.read" (click)="goToAnsweringQ(questionnaire.id)">Answer</ion-button>
        <ion-button slot="end" fill="outline" *ngIf="questionnaire.read">Answered</ion-button>
      </ion-item>
    </ion-card>
  </div>
  
</ion-content>

<ion-footer>

</ion-footer>