<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-text>Dark mode</ion-text>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-text>Notifications</ion-text>
    <ion-toggle slot="end"></ion-toggle>  
  </ion-item>
  <ion-item>
    <ion-text>Anonymous</ion-text>
    <ion-toggle slot="end"></ion-toggle>  
  </ion-item>
  <ion-item>
    <ion-text>Langue</ion-text>    
  </ion-item>   
  <ion-item>
    <ion-text>help</ion-text>  
  </ion-item>
</ion-content>

<ion-footer>
</ion-footer>