<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/questionnaires" text="Back"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{questionnaire.title}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-text>{{questionnaire.description}}</ion-text>
    <form (ngSubmit)="sendAnswer()">
      <ion-list ion-item *ngFor="let q of questionnaire.questions">
        <ion-item>
          <ion-text> {{q.question}} </ion-text>
          <ion-text *ngIf="q.constraints[0]">*</ion-text>
        </ion-item>
        <ion-input type="text" *ngIf="!q.qcm" [(ngModel)]="answersQ.answers[questionnaire.questions.indexOf(q)]" name="answer"></ion-input>
        <div *ngIf="q.qcm">
          <ion-card *ngFor="let answerqcm of q.QCManswer">
            <ion-item (click)="typeAnswer(answerqcm,q.constraints[1])">
              <ion-checkbox></ion-checkbox>
              <ion-text> {{answerqcm}} </ion-text>
            </ion-item>
          </ion-card>          
        </div>
      </ion-list>
      <ion-text>Toute question comportant une * est obligatoire</ion-text>
      <ion-button type="submit">
        Sending Answers
      </ion-button>
    </form>
      
  </ion-content>
  
  <ion-footer>
  </ion-footer>